---
title: Lisa Eisner
---

.container
  .header
    = image_tag "logotype.svg"
  .column.left
    %section
      %h2.section-title Jewelry
      = link_to "lisaeisnerjewelry.com",
        "http://www.lisaeisnerjewelry.com",
        target: "blank"
    %section
      %h2.section-title Photo Representation
      %strong Sofie Howard
      %br
      +1 310 666 1725
      %br
      = link_to "sofiehoward.com",
        "http://sofiehoward.com",
        target: "blank"
      %br
      = link_to "sofie@sophiehoward.com",
        "mailto: sofie@sofiehoward.com"
    %section
      %h2.section-title GALLERY
      %strong M+B
      %br
      +1 310 550 0050
      %br
      = link_to "mbart.com",
        "http://mbart.com",
        target: "blank"
      %br
      = link_to "shannon@mbart.com", "mailto:shannon@mbart.com"
  .column.right
    %section
      %h2.section-title Contact
      = link_to "studio@lisaeisner.com",
        "mailto:studio@lisaeisner.com"
    %section
      %h2.section-title Instagram
      = link_to "@lisaeisnerjewelry",
        "https://www.instagram.com/lisaeisnerjewelry/",
        target: "blank"
